﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.StudentModel

@{
    ViewBag.Title = "Create New Student";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<div class="card-header">

    <i class="fas fa-table"></i>
    <b>New Student</b>
    <p style="width:50%;float:right;height:5px;padding-right:60px;" align="right">
        <img src="~/images/back.png" alt="Back" style="width:20px;height:20px;">
        @Html.ActionLink("Back to List", "List")
    </p>

</div>

<style>

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<br />

<div class="container body-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            <div style="">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.strFirstName, htmlAttributes: new { @class = "control-label col-md-3 required " })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.strFirstName, new { htmlAttributes = new { @class = "form-control" , maxlength = 100 } })
                            @Html.ValidationMessageFor(model => model.strFirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.strLastName, htmlAttributes: new { @class = "control-label col-md-4 required" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.strLastName, new { htmlAttributes = new { @class = "form-control" , maxlength = 100 } })
                            @Html.ValidationMessageFor(model => model.strLastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.dtDOB, htmlAttributes: new { @class = "control-label col-md-3 required" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.dtDOB, new { htmlAttributes = new { @class = "form-control" , @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.dtDOB, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group col-md-6">
                @Html.LabelFor(model => model.dtDOB, htmlAttributes: new { @class = "control-label col-md-3 required" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.dtDOB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.dtDOB, "", new { @class = "text-danger" })
                </div>
            </div>*@
                    <div class="form-group col-md-6">
                        @*Student code*@
                        @Html.LabelFor(model => model.student_code, htmlAttributes: new { @class = "control-label col-md-3 required" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.student_code, new { htmlAttributes = new { @class = "form-control" , maxlength = 20 } })
                            @Html.ValidationMessageFor(model => model.student_code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.strMobileNumber, htmlAttributes: new { @class = "control-label col-md-4 required" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.strMobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.strMobileNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.email_id, htmlAttributes: new { @class = "control-label col-md-4 required" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email_id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Course_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(M => M.Course_Id, (IEnumerable<SelectListItem>)TempData["course_list"], new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Course_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="orm-group col-md-6">
                        @Html.LabelFor(model => model.category_id, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(M => M.category_id, (IEnumerable<SelectListItem>)TempData["category_list"], new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.joining_year, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.joining_year, new SelectList(
                      new List<Object>{
                           new { value = 2019 , text = "2019"  },
                           new { value = 2020 , text = "2021" },
                           new { value = 2021 , text = "2021"},
                           new { value = 2022 , text = "2022"},
                           new { value = 2023 , text = "2023"},
                           new { value = 2024 , text = "2024"},
                           new { value = 2025 , text = "2025"},
                           new { value = 2026 , text = "2026"},
                           new { value = 2027 , text = "2027"},
                           new { value = 2028 , text = "2028"},
                              new { value = 2029 , text = "2029"},
                                 new { value = 2030 , text = "2030"}
                        },
                      "value",
                      "text",
                       2), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.joining_year, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Semester, htmlAttributes: new { @class = "control-label col-md-5 required" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Semester, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.boolGender, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                Male:   @Html.RadioButtonFor(model => model.boolGender, "Male")
                                Female:    @Html.RadioButtonFor(model => model.boolGender, "Female")
                                @Html.ValidationMessageFor(model => model.boolGender, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }



    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/cssjqryUi")

        <script type="text/javascript">

            $(document).ready(function () {
                $('input[id=dtDOB]').datepicker({
                    dateFormat: "dd/M/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });
             
            });
        </script>
    }
    </div>