﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.StudentModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="card-header">

    <i class="fas fa-table"></i>
    <b>Edit Student</b>

    <p style="width:50%;float:right;height:5px;padding-right:60px;" align="right">
        <img src="~/images/back.png" alt="Back" style="width:20px;height:20px;">
        @Html.ActionLink("Back to List", "List")
    </p>
   
</div>

<br />

<style>

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }


    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-content">
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.strStudentId)

            
            <div class="col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.strFirstName, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.strFirstName, new { htmlAttributes = new { @class = "form-control", maxlength = 100 } })
                        @Html.ValidationMessageFor(model => model.strFirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.strLastName, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.strLastName, new { htmlAttributes = new { @class = "form-control", maxlength = 100 } })
                        @Html.ValidationMessageFor(model => model.strLastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.dtDOBedit, htmlAttributes: new { @class = "control-label col-md-16 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dtDOBedit, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.dtDOBedit, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.strMobileNumber, htmlAttributes: new { @class = "control-label col-md-16 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.strMobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.strMobileNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group ">
                    @Html.LabelFor(model => model.Course_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.student_id, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.DropDownListFor(model => model.Course_Id, (IEnumerable<SelectListItem>)TempData["course_list"], new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Course_Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group ">
                    @Html.LabelFor(model => model.category_id, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(M => M.category_id, (IEnumerable<SelectListItem>)TempData["category_list"], new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>



            <div class="col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Semester, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Semester, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('input[id=dtDOBedit]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>
}
