﻿@model IEnumerable<TKM_CENTRE_FOR_HIGHER_LEARNING.Models.StudentModel>

@{
    ViewBag.Title = "Student List";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<p class="HeaderActions">
    @*<img src="~/images/add_icon.png" style="padding-left:25px;"><br />*@
    <i class="fa fa-plus-circle fa-2x" style="margin-left:20px;"></i>
    @Html.ActionLink("Add Student", "Create")
</p>


    @*@Scripts.Render("~/bundles/bootstrapcss")*@
    <link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerydataTables")
    @Scripts.Render("~/bundles/dataTablesbootstrap4")


    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();

            // Remove the sort link from action header(edit/delete)
            $('#th_action').off('click');
            $("#th_action").removeClass("sorting");
            $(".sorting").click(function () {
                $("#th_action").removeClass("sorting");
            });
        });
      
    </script>

    <table id="dataTable" class="table table-striped table-bordered " style="width:100%">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.strFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.strLastName)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.dtDOB)
                </th>*@
               
                <th>
                    @Html.DisplayNameFor(model => model.strMobileNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.category_name)
                </th>
                <th  id="th_action"></th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.strFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strLastName)
                </td>
                @*<td>*@
                    @*@Html.DisplayFor(modelItem => item.dtDOB)*@
                    @*@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.dtDOB))*@
                @*</td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.strMobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category_name)
                </td>
                <td>
                    <i class="fas fa-fw fa-rupee-sign" style="padding-left:8px;"></i>
                    @Html.ActionLink("Payments", "../Fee/GetStudent", new { id = item.strStudentId })
                    @*<img src="~/images/parents.png" style="padding-left:8px;">*@
                    <i class="fas fa-fw fa-address-card" style="padding-left:8px;"></i>
                    <span style="padding-left: 8px;"></span>
                    @Html.ActionLink("Parent Details", "../Parent/Liststudent", new { id = item.strStudentId })
                    <br />
                    <i class="fas fa-fw fa-edit" style="padding-left:8px;"></i>

                    <span style="padding-left: 8px;"></span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.strStudentId })
                    <span style="padding-left: 50px;"></span>
                    <i class="fa fa-trash"></i>
                    @Html.ActionLink("Delete", "Delete", new { id = item.strStudentId }, new { onclick = "return confirm('Are you sure you wants to delete?');" })
</tr>
            }
        </tbody>

    </table>



<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>