﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Forgot Password</title>
    <!-- Custom fonts for this template-->
    @*<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
    <!-- Custom styles for this template-->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/sb-admin.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Reset passowrd</div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4>Reset your password</h4>

                    <p>Enter The password</p>
                </div>


                @*<form class="form-signin" action="Forgotpassowrd/gotootp" method="post">
                    <div class="form-label-group">
                        <input type="text" id="inputEmail" name="otp" class="form-control" placeholder="Enter OTP" required autofocus>
                        <label for="inputEmail">OTP</label>
                    </div>
                    </form>*@
                <form action="~/Forgotpassword/gotosubmitfrwd" method="post">

                    <div class="form-label-group">
                        <input type="password" id="inputnewpwd" name="new_password" class="form-control" placeholder="Enter New Password" required="required" autofocus="autofocus">
                        <label for="inputnewpwd">New Password</label>
                    </div>

                    <div class="form-label-group" style="margin-top:10px;">
                        <input type="password" id="inputconfirmpwd" name="confirm_password" class="form-control" placeholder="Enter ConfIrm Password" required="required" autofocus="autofocus">
                        <label for="inputconfirmpwd">Confirm Password</label>
                    </div>

                    <button style="margin-top:10px;" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
                </form>


                <hr class="my-4">

                <div class="text-center">
                    @*<a class="d-block small mt-3" href="register.html">Register an Account</a>*@
                    <a class="d-block small" href="../../">Login Page</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/js/jquery-1.6.3.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
</body>

</html>