﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.Salary

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style type="text/css">
    .rs {
        text-align: right;
        
    }
</style>
<script>
    $(document).ready(function () {
        $(".rs").maxLength = 10;
        $("#gross_deduction").attr('disabled', 'disabled');
        $("#gross_salary").attr('disabled', 'disabled');
        $("#net_salary").attr('disabled', 'disabled');
        CalculateNetSalary();
        $(".rs").change(function () {
           // alert(parseFloat($(this).val()));
            $(this).val((+$(this).val() || 0));
            CalculateNetSalary();
        });
        function CalculateNetSalary() {

            var basic = parseFloat($("#basic").val());
            $("#basic").val(basic.toFixed(2))
            var hra = parseFloat($("#hra").val());
            $("#hra").val(hra.toFixed(2))
            var cca = parseFloat($("#cca").val());
            $("#cca").val(cca.toFixed(2))
            var medical_allowance = parseFloat($("#medical_allowance").val());
            $("#medical_allowance").val(medical_allowance.toFixed(2))
            var food_allowance = parseFloat($("#food_allowance").val());
            $("#food_allowance").val(food_allowance.toFixed(2))
            var educational_allowance = parseFloat($("#educational_allowance").val());
            $("#educational_allowance").val(educational_allowance.toFixed(2))
            var transport_allowance = parseFloat($("#transport_allowance").val());
            $("#transport_allowance").val(transport_allowance.toFixed(2))
            var conveyance_allowance = parseFloat($("#conveyance_allowance").val());
            $("#conveyance_allowance").val(conveyance_allowance.toFixed(2))
            var special_allowance = parseFloat($("#special_allowance").val());
            $("#special_allowance").val(special_allowance.toFixed(2))
            var telephone_internet_charges = parseFloat($("#telephone_internet_charges").val());
            $("#telephone_internet_charges").val(telephone_internet_charges.toFixed(2))

          
            var gross_salary = basic + hra + cca + medical_allowance + food_allowance + educational_allowance + transport_allowance + conveyance_allowance
                + special_allowance + telephone_internet_charges ;
            $("#gross_salary").val(gross_salary.toFixed(2));
           
            var epf = parseFloat($("#epf").val());
            $("#epf").val(epf.toFixed(2))
            var professional_tax = parseFloat($("#professional_tax").val());
            $("#professional_tax").val(professional_tax.toFixed(2))
            var esi = parseFloat($("#esi").val());
            $("#esi").val(esi.toFixed(2))
            var labour_welfare_fund = parseFloat($("#labour_welfare_fund").val());
            $("#labour_welfare_fund").val(labour_welfare_fund.toFixed(2))


            var gross_deduction = epf + professional_tax + esi +  labour_welfare_fund ;
            $("#gross_deduction").val(gross_deduction.toFixed(2));

            var net_salary = gross_salary - gross_deduction;
            $("#net_salary").val(net_salary.toFixed(2));

        }
    });
</script>

<div class="card-header">

    <i class="fas fa-table"></i>
    <b>Salary Settings</b>
    <p style="width:50%;float:right;height:5px;padding-right:60px;" align="right">
        <img src="~/images/back.png" alt="Back" style="width:20px;height:20px;">
        @Html.ActionLink("Back to List", "Teachingview", "Teachingstaff")
    </p>

</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

<div class="form-content">
    <br /><br />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.staff_id)
    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.basic, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.basic, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.basic, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.hra, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hra, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.hra, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.cca, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cca, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.cca, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.epf, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.epf, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.epf, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">


        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.medical_allowance, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.medical_allowance, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.medical_allowance, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.food_allowance, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.food_allowance, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.food_allowance, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.professional_tax, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.professional_tax, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.professional_tax, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.esi, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.esi, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.esi, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.educational_allowance, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.educational_allowance, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.educational_allowance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3">

            @Html.LabelFor(model => model.transport_allowance, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.transport_allowance, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.transport_allowance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.telephone_internet_charges, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telephone_internet_charges, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.telephone_internet_charges, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.labour_welfare_fund, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.labour_welfare_fund, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.labour_welfare_fund, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.conveyance_allowance, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.conveyance_allowance, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.conveyance_allowance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.special_allowance, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.special_allowance, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.special_allowance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.gross_salary, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gross_salary, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.gross_salary, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-3">

            @Html.LabelFor(model => model.gross_deduction, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gross_deduction, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.gross_deduction, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>


    <div class="row">
        <div class="form-group col-md-3">

        </div>

        <div class="form-group col-md-3">

        </div>
        <div class="form-group col-md-3">

        </div>

        <div class="form-group col-md-3">

            @Html.LabelFor(model => model.net_salary, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.net_salary, new { htmlAttributes = new { @class = "form-control rs" } })
                @Html.ValidationMessageFor(model => model.net_salary, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

        </div>
        <div class="form-group col-md-3">
          
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>
    }

  
