﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.ViewModel.SalaryViewModel
@*@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.Teachingmodel*@
@{
    /**/

    ViewBag.Title = "list";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
@*<h2>list</h2>*@

<style>



    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        width: 10%;
    }
</style>
@using (Html.BeginForm("list_date", "Salary", FormMethod.Post, new { id = "demoForm", name = "demoForm" }))
{

    @Html.AntiForgeryToken()

    <div class="form-row">
        <br />
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.salary.SelectedMonth, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.salary.SelectedMonth, (IEnumerable<SelectListItem>
                    )ViewBag.Months, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.salary.SelectedMonth, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.salary.SelectedYear, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.salary.SelectedYear, (IEnumerable<SelectListItem>
                    )ViewBag.Years, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.salary.SelectedYear, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="align-self: center;margin-top: 19px;">
                <input type="submit" value="Submit" class="btn btn-success" onclick="SelectedIndexChanged()" />
            </div>
        </div>
    </div>

    <script type="text/javascript">

        function SelectedIndexChanged() {
            //Form post
            document.demoForm.submit();

        }

    </script>
}
<table id="dataTable" class="">

    @foreach (var item in Model._SalaryList)
    {

        <tr>
            <td rowspan="3">
                <span style="font-weight:bold">@Html.DisplayNameFor(model => model.salary.staff_name)</span><br /><br />
                @Html.DisplayFor(modelItem => item.staff_name)
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.basic) </span><br />
                <span id="basic_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.basic, new { id = "basic" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.hra) </span><br />
                <span id="hra_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.hra, new { id = "hra" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.cca) </span><br />
                <span id="cca_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.cca, new { id = "cca" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.medical_allowance) </span><br />
                <span id="medical_allowance_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.medical_allowance, new { id = "medical_allowance" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.food_allowance) </span><br />
                <span id="food_allowance_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.food_allowance, new { id = "food_allowance" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.educational_allowance) </span><br />
                <span id="educational_allowance_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.educational_allowance, new { id = "educational_allowance" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.transport_allowance) </span><br />
                <span id="transport_allowance_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.transport_allowance, new { id = "transport_allowance" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.telephone_internet_charges) </span><br />
                <span id="telephone_internet_charges_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.telephone_internet_charges, new { id = "telephone_internet_charges" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.conveyance_allowance) </span><br />
                <span id="conveyance_allowance_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.conveyance_allowance, new { id = "conveyance_allowance" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.special_allowance) </span><br />
                <span id="special_allowance_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.special_allowance, new { id = "special_allowance" })
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.epf) </span><br />
                <span id="epf_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.epf, new { id = "epf" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.esi) </span><br />
                <span id="esi_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.esi, new { id = "esi" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.labour_welfare_fund) </span><br />
                <span id="labour_welfare_fund_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.labour_welfare_fund, new { id = "labour_welfare_fund" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.professional_tax) </span><br />
                <span id="professional_tax_@item.staff_id">
                    @Html.DisplayFor(modelItem => item.professional_tax, new { id = "professional_tax" })
                </span>
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.leave_deduction) </span><br />
                @Html.EditorFor(modelItem => item.leave_deduction, new { htmlAttributes = new { @class = "form-control", @type = "Number", @min = "0", id = "leave_deduction" + @item.staff_id, @onchange = "cutting(" + @item.staff_id + ")" } })
                @Html.ValidationMessageFor(modelItem => item.leave_deduction, "", new { @class = "text-danger" })
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.bonus) </span><br />
                @Html.EditorFor(modelItem => item.bonus, new { htmlAttributes = new { @class = "form-control", @type = "Number", @min = "0", id = "bonus" + @item.staff_id, @onchange = "get_addition(" + @item.staff_id + ")" } })
                @Html.ValidationMessageFor(modelItem => item.bonus, "", new { @class = "text-danger" })
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.salary_advanced_deduction) </span><br />
                @Html.EditorFor(modelItem => item.salary_advanced_deduction, new { htmlAttributes = new { @class = "form-control", @type = "Number", @min = "0", id = "salary_advanced_deduction" + @item.staff_id, @onchange = "cutting(" + @item.staff_id + ")" } })
                @Html.ValidationMessageFor(modelItem => item.salary_advanced_deduction, "", new { @class = "text-danger" })
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.tds) </span><br />
                @Html.EditorFor(modelItem => item.tds, new { htmlAttributes = new { @class = "form-control", @type = "Number", @min = "0", id = "tds" + @item.staff_id, @onchange = "cutting(" + @item.staff_id + ")" } })
                @Html.ValidationMessageFor(modelItem => item.tds, "", new { @class = "text-danger" })
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.gross_salary) </span><br />
                @Html.EditorFor(modelItem => item.gross_salary, new { htmlAttributes = new { @class = "form-control", @type = "Number", @readonly = "readonly", id = "gross_salary" + @item.staff_id } })
                @Html.ValidationMessageFor(modelItem => item.gross_salary, "", new { @class = "text-danger" })
            </td>
            <td>
                <span style="font-weight:bold"> @Html.DisplayNameFor(model => model.salary.gross_deduction) </span><br />
                @Html.EditorFor(modelItem => item.gross_deduction, new { htmlAttributes = new { @class = "form-control", @type = "Number", @readonly = "readonly", id = "gross_deduction" + @item.staff_id } })
                @Html.ValidationMessageFor(modelItem => item.gross_deduction, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="6"></td>
            <td style="font-weight:300;">
                @Html.DisplayNameFor(model => model.salary.net_salary)
            </td>
            <td colspan="2">
                @Html.EditorFor(modelItem => item.net_salary, new { htmlAttributes = new { @class = "form-control", @type = "Number", @readonly = "readonly", id = "net_salary" + @item.staff_id } })
            </td>
            <td class="staff_id" style="font-size: .1px;">
                @Html.DisplayFor(modelItem => item.staff_id)
                <button id="edit-user_salary" class="btn btn-success save-user" style="font-size: .6rem;">Save</button>
            </td>
        </tr>
    }
</table>
<script>
    function cutting(id) {
        debugger;
        const a = ($("#epf_" + id).text());


        const b = ($("#esi_" + id).text());


        const c = ($("#professional_tax_" + id).text());


        const d = ($("#labour_welfare_fund_" + id).text());


        const e = ($("#leave_deduction" + id).val());
        const f = ($("#tds" + id).val());
        const g = ($("#salary_advanced_deduction" + id).val());
        if (a == '')
            a = 0;
        if (b == '')
            b = 0;
        if (c == '')
            c = 0;
        if (d == '')
            d = 0;
        if (e == '')
            e = 0;
        if (f == '')
            f = 0;
        if (g == '')
            g = 0;

        $("#gross_deduction" + id).val(parseInt(a) + parseInt(b) + parseInt(c) + parseInt(d) + parseInt(e) + parseInt(f) + parseInt(g));
        get_netsalary(id);
    }


</script>
<script type="text/javascript">

    function get_addition(id) {


        const a = ($("#basic_" + id).text());
        if (a == '')
            a = 0;

        const b = ($("#hra_" + id).text());
        if (b == '')
            b = 0;

        const c = ($("#cca_" + id).text());
        if (c == '')
            c = 0;

        const d = ($("#medical_allowance_" + id).text());
        if (d == '')
            d = 0;

        const e = ($("#food_allowance_" + id).text());
        if (e == '')
            e = 0;

        const f = ($("#educational_allowance_" + id).text());
        if (f == '')
            f = 0;

        const g = ($("#transport_allowance_" + id).text());
        if (g == '')
            g = 0;

        const h = ($("#telephone_internet_charges_" + id).text());
        if (h == '')
            h = 0;

        const i = ($("#conveyance_allowance_" + id).text());
        if (i == '')
            i = 0;

        const j = ($("#special_allowance_" + id).text());
        if (j == '')
            j = 0;


        const k = ($("#bonus" + id).val());
        if (k == '')
            k = 0;

        const l = ($("#gross_salary" + id).val());
        if (l == '')
            l = 0;
        $("#gross_salary" + id).val(parseInt(a) + parseInt(b) + parseInt(c) + parseInt(d) + parseInt(e) + parseInt(f) + parseInt(g)
            + parseInt(h) + parseInt(i) + parseInt(j) + parseInt(k));
        get_netsalary(id);
    }

    function get_netsalary(id) {
        debugger;
        const c = ($("#gross_salary" + id).val());
        if (c == '')
            c = 0;
        const d = ($("#gross_deduction" + id).val());
        if (d == '')
            d = 0;
        $("#net_salary" + id).val(parseInt(c) - parseInt(d));
    }


</script>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script>

    $('.save-user').click(function () {


        var salaryListVal = null;
        salaryListVal = [];
        debugger;
        var staff_id = ($(this).closest('tr').children('td.staff_id').text());
        staff_id = staff_id.replace('Save', '').trim();
        salaryListVal.push(staff_id);

        const a = ($("#leave_deduction" + staff_id).val());
        if (a == '') {
            alert('value should not be empty');
            $('#leave_deduction' + staff_id).focus();
            return false;
        }
        const b = ($("#salary_advanced_deduction" + staff_id).val());
        if (b == '') {
            alert('value should not be empty');
            $('#salary_advanced_deduction' + staff_id).focus();
            return false;
        }

        const c = ($("#tds" + staff_id).val());
        if (c == '') {
            alert('value should not be empty');
            $('#tds' + staff_id).focus();
            return false;
        }


        const d = ($("#bonus" + staff_id).val());
        if (d == '') {
            alert('value should not be empty');
            $('#bonus' + staff_id).focus();
            return false;
        }

        salaryListVal.push($("#leave_deduction" + staff_id).val());
        salaryListVal.push($("#salary_advanced_deduction" + staff_id).val());
        salaryListVal.push($("#tds" + staff_id).val());
        salaryListVal.push($("#bonus" + staff_id).val());
        salaryListVal.push($("#gross_salary" + staff_id).val());
        salaryListVal.push($("#gross_deduction" + staff_id).val());
        salaryListVal.push($("#net_salary" + staff_id).val());
        salaryListVal.push($('#salary_SelectedMonth').val());
        salaryListVal.push($('#salary_SelectedYear').val());

        //  alert($('#salary_SelectedMonth').val());
        //  alert($('#salary_SelectedYear').val());


        // alert(staff_id);
        //$(this).closest('tr').find('input').each(function () {

        //    salaryListVal.push($(this).attr('value'));
        //    alert($(this).attr('value'));

        //});


        $.ajax({
            url: '/Salary/Savesalary/',
            data: { Name: salaryListVal },
            type: 'POST',
            datatype: "json",
            success: function (data) {
                document.demoForm.submit();

            }

        });

    });
</script>
