﻿
.gridView {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .gridView td, .gridView th {
        border: 1px solid #ddd;
        padding: 8px;

    }

    .gridView tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .gridView tr:hover {
        background-color: #ddd;
    }

    .gridView th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #808080;
        color: white;
    }
.gridview_edit {
    background-color: #f00;
}

