

body {
	margin: 0;
	padding: 0;
	color: #848484;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px; 
	background-color: #474c50; 
	background-image: url(images/tooplate_body.png);
	background-repeat: repeat;
}

a:link, a:visited { color:#000; text-decoration: none}
a:hover { text-decoration:underline }
a:hover,a:active { outline:none }

input.more, a.more { display: inline-block; text-decoration: none; margin-top: 15px; color: #333; width: 72px; height: 26px; line-height: 26px; padding-left: 16px; text-align: center; background: url(images/tooplate_more.png)  }

input.more{ display: block; float: right; border: none; cursor: pointer; width: 88px; }


h1, h2, h3, h4, h5, h6 {
	color:#000;
	font-weight:400;
	padding: 0;
	margin: 0 0 10px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 { font-size:34px; margin-bottom: 35px  }
h2 { font-size:26px; margin-bottom: 30px; line-height: 30px; }
h3 { font-size:20px; line-height: 24px; margin-bottom: 20px; }
h4 { font-size:18px }
h5 { font-size:16px }
h6 { font-size:12px }


.left { float:left }
.right { float:right }
.clear { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h60 { height: 60px }

img { margin: 0; padding: 0; border: 0; }
.img_border { border: 1px solid #e1e1e1; }
.img_border_s { padding: 4px }
.img_border_b { padding: 7px }
.img_nom { display: block; margin-bottom: 15px }
.img_fl { float: left; display: block; margin: 1px 20px 8px 0 }
.img_fr { float: right; margin: 1px 0 8px 20px }

p { margin: 0 0 10px 0; padding: 0 }
em { color: #000 }
hr { clear: both; padding-top: 5px; margin-bottom: 5px; border: none; background: url(images/tooplate_hr.png) bottom repeat-x }
hr.m30 { margin-bottom: 30px; padding-top: 20px }
hr.m60 { margin-bottom: 60px; padding-top: 40px }

label { display: block; }
input { margin-bottom: 10px }



ul.nobullet { margin: 0; padding: 0; list-style: none }
ul.nobullet li { margin: 0; padding: 0 }

ul.list_bullet { margin: 10px 0 10px 15px; padding: 0; list-style: none }
ul.list_bullet li { color:#333; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(images/tooplate_bullet.png) no-repeat scroll 0 5px  }
ul.list_bullet li a { color: #333; font-weight: normal; text-decoration: none }
ul.list_bullet li a:hover { color: #333 }

/** Columns **/

.content_wrapper { overflow: hidden; width: 100% }
.content_mb_30 { margin-bottom: 30px }
.content_mb_60 { margin-bottom: 60px }

.col_2 {width:420px;}
.col_3 {width:260px;}
.col_4 {width:180px;}
.col_23 {width:580px;}
.col_34 {width:660px;}

.col_2, .col_3, .col_4, .col_23, .col_34 { float:left; margin: 0 60px 0 0 }

.left {float:left }
.right {float:right }
.no_margin_right {margin-right:0 !important;}

#tooplate_wrapper {
	width: 998px;
	margin: 0 auto;
	padding: 60px 10px 0;
	background: url(images/tooplate_wrapper.png) center top no-repeat
}
#tooplate_header {
	padding: 20px 0 0;
}

#tooplate_main_wrapper {
	position: relative;
	width: 980px;
	padding: 0 9px;
	margin-bottom: 30px;
	background: url(images/tooplate_wm.png) repeat-y
}
#tooplate_main_wrapper .tmw_frame {
	position: absolute;
	left: 0;
	width: 998px;
	height: 9px;
}
#tooplate_main_wrapper .tmw_framet {
	top: -10px;
	background: url(images/tooplate_wt.png)
}
#tooplate_main_wrapper .tmw_frameb {
	bottom: -10px;
	background: url(images/tooplate_wb.png)
}

#tooplate_menu {
	position: relative;
	width: 940px;
	padding: 0 20px;
	height: 80px;
	background: url(images/tooplate_menu.png) repeat-x
}
#tooplate_slider {
	clear: both;
	width: 1224px;
	height: 417px;
	padding: 8px 8px 0;
	margin-left: -113px;
	background: url(images/tooplate_slider_frame.png)
}
#tooplate_main { clear: both; padding: 50px 31px }
#tooplate_content { width: 580px }
#tooplate_sidebar { width: 260px }

#tooplate_footer_wrapper {
	clear: both;
	width: 100%;
	background: #fff;
}
#tooplate_footer {
	width: 900px;
	margin: 0 auto;
	padding: 40px;
}

a.sitetitle { display: block; font-size: 12px; margin: 0 auto; font-family: Georgia, "Times New Roman", Times, serif; width: 300px; height: 70px; color: #acacac; text-indent: -10000px; margin-bottom: 30px; background: url(images/tooplate_logo.png)  no-repeat center center }

#home_about { text-align: center; margin-bottom: 40px; padding: 40px 0; background: url(images/tooplate_hr.png) repeat-x bottom }
#home_about h1 { font-style: italic; }
#home_about p { font-size: 20px; line-height: 24px; font-family: Georgia, "Times New Roman", Times, serif }

.news_list { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #cda70f }
.news_list .date { color: #fff }
.news_list a { display: block; margin-bottom: 10px; font-weight: 700 }
.news_list p { font-size: 11px }

.service_list { margin-bottom: 20px; line-height: 32px }
.service_list img { float: left; margin-right: 10px; }
.service_list a { font-weight: 700 }

#gallery { overflow: hidden }
#gallery li { position: relative; margin: 0 50px 50px 0; padding: 0; width: 420px; float: left; display: block; }
#gallery li span {
	display: none; 
	font-size: 11px; 
	position: absolute; 
	bottom: 8px; 
	left: 8px; 
	padding: 5px; 
	background: #fff; 
	color: #ccc;
	width: 404px; 
	line-height: 1.2em;
	background: url(images/caption_background.png) repeat;
}
#gallery li span h4 { color: #fff; margin-bottom: 10px; font-size: 14px }
#gallery li a:hover { text-decoration: none }
#gallery li.no_margin_right { margin-right: 0 }

.post { margin-bottom: 40px; padding-bottom: 40px; background: url(images/tooplate_hr.png) bottom repeat-x }
.post h2 { margin-bottom: 10px; font-size: 24px; font-weight: 700 }
.post img { margin-bottom: 5px }

.post_meta { border: 1px solid #666; border-left: 0; border-right: 0; padding: 5px; height: 16px; margin-bottom: 10px }
.post_meta span { float: left; display: block; float: left; margin-right: 20px; padding-left: 20px; background-repeat: no-repeat; background-position: left center  }
.post_meta span.post_author { background-image: url(images/agent.png) }
.post_meta span.date { background-image: url(images/calendar.png) }
.post_meta span.tag { background-image: url(images/tag.png) }
.post_meta span.comment { float: right; background-image: url(images/chat-02.png) }

.comment_list { margin: 0 0 40px; padding: 0; list-style: none }
.comment_list .comment_box { padding: 20px; background: url(images/tooplate_divider.png) repeat-x bottom }
.comment_list li { margin-bottom: 40px }
.comment_list li ul { list-style: none; background: none }
.comment_list li ul li { margin-bottom: 20px }
.comment_list li ul li .comment_box {  }
.comment_content { float: right; width: 430px }
.comment_list li ul li.depth_2 .comment_content  { width: 390px }
.comment_list li ul li.depth_3 .comment_box { }
.comment_list li ul li.depth_3 .comment_content  { width: 350px }

.sidebar_link { margin: 0; padding: 0; list-style: none }
.sidebar_link li { margin: 0; padding: 10px 0 10px 20px; border-bottom: 1px dashed #bc9808;  background: url(images/tooplate_bullet.png) left no-repeat }
.sidebar_link_list li a {  }

#sidebar .comment_list { margin: 0; padding: 0; list-style: none; }
#sidebar .comment_list li { margin: 0; padding: 10px 0;  border-bottom: 1px dashed #bc9808; }
#sidebar .comment_list li a { color: #000 }
#sidebar .comment_list li span { display: block; }
#sidebar .comment_list li span.comment_meta { display: block; margin-top: 5px; font-size: 10px; }

#comment_form { width: 400px; margin-top: 40px }
#comment_form form label { display: block }

#comment_form form .input_field { 
	display: block;
	width: 192px;
	padding: 5px;
	margin-bottom: 20px;
	color: #666;
	background: #fff;
	border: 1px solid #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#comment_form form textarea { 
	width: 388px; 
	height: 130px; 
	padding: 5px; 
	margin-bottom: 10px; 
	color: #666;
	background: #fff; 
	border: 1px solid #666; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#contact_form { padding: 0; margin-bottom: 40px; width: 400px}
#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field { 
	display: block; 
	float: right; 
	width: 240px; 
	padding: 5px; 
	margin-bottom: 20px; 
	color: #666;
	background: #fff; 
	border: 1px solid #666; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#contact_form form label { display: block; float: left; width: 120px; line-height: 30px; }
#contact_form form textarea { 
	display: block; 
	float: right; 
	width: 240px; 
	height: 130px; 
	padding: 5px; 
	margin-bottom: 10px; 
	color: #666; 
	background: #fff; 
	border: 1px solid #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#nav_up { 
	display: block; 
	margin: 0 auto; 
	width: 900px; 
	height: 27px; 
	cursor: pointer;
	background: url(images/tooplate_gototop.png) center;
}

#tooplate_footer { color: #999 }
#tooplate_footer a { color: #666 }
#tooplate_footer h4 { color: #333 }

#tooplate_copyright_wrapper { background: none }
#tooplate_copyright { width: 980px; margin: 0 auto; color: #CCC; text-align: center; height: 40px; line-height: 40px; }
#tooplate_copyright a { color: #CCC; }

.pagging { margin: 0 0 20px; padding: 0 }
.pagging ul { margin: 0; padding: 0; list-style: none }
.pagging ul li { margin: 0; padding: 0; display: inline }
.pagging ul li a { 
	float: left; 
	display: block; 
	color: #333; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background: #e2e5e7;
}
.pagging ul li a:hover { color: #fff; background: #1b1d1f }