﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Forgot Password</title>
    <!-- Custom fonts for this template-->
    @*<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
    <!-- Custom styles for this template-->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/sb-admin.css" rel="stylesheet" />
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Reset Password</div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4>Forgot your password?</h4>

                    <p>Enter your Mobile Number and we will send you OTP to reset your password.</p>
                </div>
                <form action="~/Forgotpassword/submit" method="post">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="inputEmail" name="mob_number" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
                            <label for="inputEmail">Enter Mobile Number</label>
                        </div>
                    </div>

                 
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Send OTP</button>
                </form>
                <form class="form-signin" action="~/Forgotpassword/gotootp" method="post">
                   
                </form>

                <div class="text-center">
                  
                    <a class="d-block small" href="../../">Login Page</a>
                </div>

            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/js/jquery-1.6.3.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
</body>

</html>
