﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script src="~/js/jquery.slim.min.js"></script>
  
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/all.css" rel="stylesheet" />
   
   

    <title>Login</title>
    <style id="compiled-css" type="text/css">
      :root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background: #007bff;
  background: linear-gradient(to right,#fe5d70,#fe909d);
}

.card-signin {
  border: 0;
  border-radius: 2rem;
  box-shadow: 0 1.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}



    </style>
    <style>
        .container1 {
            height: 100px;
            overflow: hidden;
            position: relative;
        }

        .gray,
        .white {
            position: absolute;
            left: -25%;
            right: -25%;
            border-radius: 100%;
        }

        .gray { /* use a gray border with border radius to emulate an arc */
            top: -50%;
            border: 100px solid #607d8b;
            border-top: none;
            height: 100px;
        }

        .white { /* put a white oval on top for the top edge of the banner */
            top: -80%;
            background-color: white;
            height: 115px;
        }
    </style>
   
</head>
<body>
    <div class="container1">
        <div class="gray"></div>
        <div class="white"></div>
    </div>
    <div class="container"style="width:960px !important;" >
       
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                       
                        <form class="form-signin" action="~/Login/submit" method="post">
                            <div class="form-label-group">
                                <input type="text" id="inputEmail" name="UserName" class="form-control" placeholder="Email address" required autofocus>
                                <label for="inputEmail">Username</label>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Password" required>
                                <label for="inputPassword">Password</label>
                            </div>
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>

                            <hr class="my-4">
                        </form>
                        <form class="form-signin" action="Login/forgetpassword" method="post">
                            <div class="text-center">
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Forgot Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
</body>


</html>

