﻿
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}




<link href="~/css/feather.css" rel="stylesheet" />
<link href="~/css/style_dashboard.css" rel="stylesheet" />
<script src="~/Chart/core.js"></script>
<script src="~/Chart/charts.js"></script>
<script src="~/Chart/spiritedaway.js"></script>
<script src="~/Chart/animated.js"></script>

<link href="~/Chart/Error/index.css" rel="stylesheet" />
<script src="~/Chart/Error/index.js"></script>
<script src="~/Chart/Student/index.js"></script>
<script src="~/Chart/Payments/index.js"></script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="row" style="background-color: #fff7fb;">

    <div class="col-xl-3 col-md-6">
        <div class="card bg-c-yellow update-card">
            <div class="card-block">
                <div class="row align-items-end">
                    <div class="col-8">
                        <h4 class="text-white">₹@ViewBag.balance</h4>
                        <h6 class="text-white m-b-0">All in Balance</h6>
                    </div>
                    <div class="col-4 text-right">
                        <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                        <canvas id="update-chart-1" height="50" style="display: block; width: 45px; height: 50px;" width="45"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : @ViewBag.date</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-c-green update-card">
            <div class="card-block">
                <div class="row align-items-end">
                    <div class="col-8">
                        <h4 class="text-white">290+</h4>
                        <h6 class="text-white m-b-0">Page Views</h6>
                    </div>
                    <div class="col-4 text-right">
                        <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                        <canvas id="update-chart-2" height="50" width="45" style="display: block; width: 45px; height: 50px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-c-pink update-card">
            <div class="card-block">
                <div class="row align-items-end">
                    <div class="col-8">
                        <h4 class="text-white">145</h4>
                        <h6 class="text-white m-b-0">Task Completed</h6>
                    </div>
                    <div class="col-4 text-right">
                        <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                        <canvas id="update-chart-3" height="50" width="45" style="display: block; width: 45px; height: 50px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-c-lite-green update-card">
            <div class="card-block">
                <div class="row align-items-end">
                    <div class="col-8">
                        <h4 id="leave_aproval" class="text-white"></h4>
                        <h6 class="text-white m-b-0">Leaves Approve..</h6>
                    </div>
                    <div class="col-4 text-right">
                        <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                        <canvas id="update-chart-4" height="50" width="45" style="display: block; width: 45px; height: 50px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
            </div>
        </div>
    </div>


    <div class="col-xl-6 col-md-12">
        <div class="card" style="align-items: center; height: 450px; width: 550px;">            
            <div id="piechart" style="width: 550px; height: 450px;"></div>
        </div>
    </div>

    <div class="col-xl-12 col-md-12">
        <div class="card user-card-full">
           
                <table id="dataTablehistory" class="table table-striped table-bordered " style="width:100%; font-size: 0.75rem;"></table> 
           

     </div>
    </div>

        <div class="col-xl-6 col-md-12">
            <div class="card latest-update-card">
                <div class="card-header">
                    <h5>Latest Updates</h5>
                    <div class="card-header-right">
                    </div>
                </div>
                <div class="card-block">
                    <div class="latest-update-box">
                        <div class="row p-b-15">
                            <div class="col-auto text-right update-meta">
                                <p class="text-muted m-b-0 d-inline">4 hrs ago</p>
                                <i class="feather icon-briefcase bg-simple-c-pink update-icon"></i>
                            </div>
                            <div class="col">
                                <h6>+ 5 New Products were added!</h6>
                                <p class="text-muted m-b-0">Congratulations!</p>
                            </div>
                        </div>
                        <div class="row p-b-15">
                            <div class="col-auto text-right update-meta">
                                <p class="text-muted m-b-0 d-inline">1 day ago</p>
                                <i class="feather icon-check bg-simple-c-yellow  update-icon"></i>
                            </div>
                            <div class="col">
                                <h6>Database backup completed!</h6>
                                <p class="text-muted m-b-0">Download the <span class="text-c-blue">latest backup</span>.</p>
                            </div>
                        </div>
                        <div class="row p-b-0">
                            <div class="col-auto text-right update-meta">
                                <p class="text-muted m-b-0 d-inline">2 day ago</p>
                                <i class="feather icon-facebook bg-simple-c-green update-icon"></i>
                            </div>
                            <div class="col">
                                <h6>+1 Friend Requests</h6>
                                <p class="text-muted m-b-10">This is great, keep it up!</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#!" class="b-b-primary text-primary">View all Projects</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">
                    <div class="col-sm-4 bg-c-lite-green user-profile">
                        <div class="card-block text-center text-white">
                            <div class="m-b-25">
                                <img src="../images/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
                            </div>
                            <h6 class="f-w-600">@ViewBag.name</h6>
                            <p>Office Admin</p>
                            <i class="feather icon-edit m-t-10 f-16"></i>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-block">
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Email</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.email</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Phone</p>
                                    <h6 class="text-muted f-w-400">@ViewBag.phone</h6>
                                </div>
                            </div>
                            <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Recent</p>
                                    <h6 class="text-muted f-w-400">Guruable Admin</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Most Viewed</p>
                                    <h6 class="text-muted f-w-400">Able Pro Admin</h6>
                                </div>
                            </div>
                            <ul class="social-link list-unstyled m-t-40 m-b-10">
                                <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook"><i class="feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter"><i class="feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram"><i class="feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card user-card-full">
                <div id="chartdiv"></div>
            </div>
        </div>
        <div class="col-xl-5 col-md-6">
            <div class="card user-card-full">
                <div id="chartdiv_std" style="height: 440px;"></div>
            </div>
        </div>

        <div class="col-xl-3 col-md-12" style="height: 440px;">
            <div class="card user-card2">
                <div class="card-block text-center">

                    <div class="risk-rate">
                        <span><b>4</b></span>
                    </div>
                    <h6 class="m-b-10 m-t-10">Balanced</h6>
                    <a href="#!" class="text-c-yellow b-b-warning">Make Payment</a>
                    <div class="row justify-content-center m-t-10 b-t-default m-l-0 m-r-0">
                        <div class="col m-t-15 b-r-default">
                            <h6 class="text-muted">Nr</h6>
                            <h6>AWS 2455</h6>
                        </div>
                        <div class="col m-t-15">
                            <h6 class="text-muted">Created</h6>
                            <h6>30th Sep</h6>
                        </div>
                    </div>
                </div>
                <button class="btn btn-warning btn-block p-t-15 p-b-15">View Overall Report</button>
            </div>
        </div>
        <div class="col-xl-12 col-md-6">
            <div class="card user-card-full">
                <div id="chartdiv_payments"></div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6">
            <div class="card social-card bg-simple-c-blue">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="feather icon-mail f-34 text-c-blue social-icon"></i>
                        </div>
                        <div class="col">
                            <h6 class="m-b-0">Mail</h6>
                            <p>231.2w downloads</p>
                            <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                    </div>
                </div>
                <a href="#!" class="download-icon"><i class="feather icon-arrow-down"></i></a>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="card social-card bg-simple-c-pink">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="feather icon-twitter f-34 text-c-pink social-icon"></i>
                        </div>
                        <div class="col">
                            <h6 class="m-b-0">twitter</h6>
                            <p>231.2w downloads</p>
                            <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                    </div>
                </div>
                <a href="#!" class="download-icon"><i class="feather icon-arrow-down"></i></a>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card social-card bg-simple-c-green">
                <div class="card-block">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="feather icon-instagram f-34 text-c-green social-icon"></i>
                        </div>
                        <div class="col">
                            <h6 class="m-b-0">Instagram</h6>
                            <p>231.2w downloads</p>
                            <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                        </div>
                    </div>
                </div>
                <a href="#!" class="download-icon"><i class="feather icon-arrow-down"></i></a>
            </div>
        </div>

    </div>

<script src="~/vendor/google_pie-chart.js"></script>

<div class="preloader3 loader-block">
    <div class="circ1 loader-success"></div>
    <div class="circ2 loader-success"></div>
    <div class="circ3 loader-success"></div>
    <div class="circ4 loader-success"></div>
</div>

<style>
    #chartdiv_payments {
       height: 400px;
    }
</style>
<script type="text/javascript">

    function load()
    {
        $.ajax(
    {
        type: "POST",
        url: '/Dashboard/Get_staff_leave_history/',
        data: "{}",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            var quarter_data = [];
            var trHTML = '';
            var trHTMLhead = '<thead><tr><th>Sl No</th><th>Applied By</th><th>Leave Type</th><th>Leave Dates</th><th>Reason</th>' +
                '<th>Days</th><th>Created On</th><th>Action</th><th>Note</th><th>Submit</th></tr></thead>';

            quarter_data = JSON.parse(data);
            var count = 1;
            var lenght = quarter_data.length;
           
            $.each(
           quarter_data, function (i, item) {

               trHTML += '<tr><td>' + quarter_data[i].Slno + '</td><td>' + quarter_data[i].applied_by + '</td><td>' + quarter_data[i].leave_type + '</td><td>' + quarter_data[i].start_date + '<br> To<br>' + quarter_data[i].end_date + '</td><td ><div style=width:150px;overflow:auto;>' + quarter_data[i].reason + '<div></td><td>' + quarter_data[i].number_of_leaves +
                   '</td><td>' + quarter_data[i].created_on + '</td><td><fieldset class="form-group"  id="group1"><input class="radio-inline"  style="margin: 3px 7px -17px; line-height: normal;" type="radio" value="Approved" name="group1">Approved </br>' +
                   '<input style="margin: 3px 7px -17px; line-height: normal;"  type="radio" value="Rejected" name="group1">Rejected</fieldset>' +
                   '</td><td id="Container1"><textarea type="text" id="remark" name=' + quarter_data[i].leave_id + ' rows="2" ></textarea></td><td> <button id="edit-user" onclick=save_data(' + quarter_data[i].leave_id + ',' + quarter_data[i].staff_id + ',this); class="btn btn-success save-user" style="font-size: .6rem;" >Done</button></td></tr>';

           });
            $('#dataTablehistory').html('');
            $('#dataTablehistory').append(trHTMLhead);
            $('#dataTablehistory').append(trHTML);
            $("#leave_aproval").text(lenght);
            
        },
        error: function (msg) {

            $('#dataTablehistory').append('<tr><td>No data</td></tr>');
        }
    });

    }

    $(document).ready(function () {
        load();

    });

</script>

<script>   
   
    function save_data(leave_id,staff_id, e)
    {
      
        var status = $("input[name='group1']:checked").val();
        var remark = document.getElementsByName(leave_id)[0].value;
        if (status === undefined) {
            alert('Please select Action..!');

        } else {
            $.ajax({
                url: '/Dashboard/update_leave/',

                data: "{'leave_id':'" + leave_id + "','status':'" + status + "','remark':'" + remark + "','staff_id':'" + staff_id + "'}",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert('Success..!');
                    load();
                }
            });
        }
    }
</script>
