﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.Teachingmodel

@{
    ViewBag.Title = "Create New Staff";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}



<div class="card-header">

    <i class="fas fa-table"></i>
    <b>Create Staff</b>
    <p style="width:50%;float:right;height:5px;padding-right:60px;" align="right">
        <img src="~/images/back.png" alt="Back" style="width:20px;height:20px;">
        @Html.ActionLink("Back to List", "Teachingview")
    </p>

</div>
<br />

<style>

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }

</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="form-content">
<br />
  
<div class="row">

    <div class="col-md-6">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row form-group">
            <div class="col-md-3" style="padding-left: 30px;">
                @Html.LabelFor(model => model.title_id, htmlAttributes: new { @class = "control-label required" }) 
                @Html.DropDownListFor(M => M.title_id, (IEnumerable<SelectListItem>)TempData["title_list"], new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.title_id, "", new { @class = "text-danger" })


            </div>
            <div class="col-md-7">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.first_name, htmlAttributes: new { @class = "control-label col-md-8 required" })

                @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control", maxlength = 100 } })
                @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.last_name, htmlAttributes: new { @class = "control-label col-md-3 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control", maxlength = 100 } })
                @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(model => model.department_id, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.student_id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(M => M.department_id, (IEnumerable<SelectListItem>)TempData["department_list"], new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.department_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-3 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(model => model.role_id, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.DropDownListFor(M => M.role_id, (IEnumerable<SelectListItem>)TempData["Role_list"], new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.staff_no, htmlAttributes: new { @class = "control-label col-md-4 " })
            <div class="col-md-10">

                @Html.EditorFor(model => model.staff_no, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.staff_no, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(model => model.pen, htmlAttributes: new { @class = "control-label col-md-4 " })
            <div class="col-md-10">

                @Html.EditorFor(model => model.pen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pen, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(model => model.appointment_type, htmlAttributes: new { @class = "control-label col-md-4 " })
            <div class="col-md-10">

                @Html.EditorFor(model => model.appointment_type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.appointment_type, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.email_id, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email_id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.phone_number, htmlAttributes: new { @class = "control-label col-md-4 required" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.phone_number, new { htmlAttributes = new { @class = "form-control", @type = "Number" } })
                            @Html.ValidationMessageFor(model => model.phone_number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", maxlength = 20 } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "password", maxlength = 20 } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            Male:   @Html.RadioButtonFor(model => model.gender, "1")
                            Female:    @Html.RadioButtonFor(model => model.gender, "0")
                            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=" col-md-5" style="padding-top: 15px;">

                        <input type="file" id="UploadImg" />
                        <br /><br />
                        <img id="imgPreview" src="~/user_images/no-image-icon.png" style="height:200px;  width:200px; border:1px;" />
                    </div>
                </div>
            </div>




        </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>

</div>

}

    <div>



        @section Scripts {
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jqueryui")
            @Styles.Render("~/Content/cssjqryUi")

            <script type="text/javascript">

                $(document).ready(function () {
                    $('input[type=datetime]').datepicker({
                        dateFormat: "dd/M/yy",
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "-60:+0"
                    });

                });
            </script>
        }
        
       
        <script type="text/javascript">
            /* The uploader form */
            //$(function () {
            //    $(":file").change(function () {
            //        if (this.files && this.files[0]) {
            //            var reader = new FileReader();
            //            reader.onload = imageIsLoaded;
            //            reader.readAsDataURL(this.files[0]);
            //        }
            //    });
            //});

            function imageIsLoaded(e) {
                $('#imgPreview').attr('src', e.target.result);

            };



            $("#UploadImg").change(function () {
                var data = new FormData();
                var files = $("#UploadImg").get(0).files;
                if (files.length > 0) {
                    data.append("MyImages", files[0]);
                }

                if (this.files && this.files[0]) {
                        var reader = new FileReader();
                        reader.onload = imageIsLoaded;
                        reader.readAsDataURL(this.files[0]);
                    }

                $.ajax({
                    url: "/Teachingstaff/UploadFile",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        //code after success
                        $("#txtImg").val(response);
                        $("#imgPreview").attr('src', '/user_images/' + response);
                    },
                    error: function (er) {
                        alert(er);
                    }

                });
            });


        </script>
    </div>