﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.Teachingmodel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="card-header">

    <i class="fas fa-table"></i>
    <b>Edit Staff Details</b>
    <p style="width:50%;float:right;height:5px;padding-right:60px;" align="right">
        <img src="~/images/back.png" alt="Back" style="width:20px;height:20px;">
        @Html.ActionLink("Back to List", "Teachingview")
    </p>

</div>


<style>

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-content">
<br />
        <div class="row">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.staff_id)

            <div class="col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.first_name, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control", maxlength = 100 } })
                        @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.last_name, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" , maxlength = 100 } })
                        @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", maxlength = 20 } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group ">
                    @Html.LabelFor(model => model.department_id, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                      
                        @Html.DropDownListFor(model => model.department_id, (IEnumerable<SelectListItem>)TempData["department_list"], new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.department_id, "", new { @class = "text-danger" })
                    </div>
                </div>
              
            </div>
            <div class="col-md-6">

                
                <div class="form-group">
                    @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DOB, "{0:dd/MM/yy}",new { htmlAttributes = new { @class = "form-control" , @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.email_id, htmlAttributes: new { @class = "control-label col-md-3 required" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email_id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.email_id, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-6">
              
                <div class="form-group">
                    @Html.LabelFor(model => model.phone_number, htmlAttributes: new { @class = "control-label col-md-4 required" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.phone_number, new { htmlAttributes = new { @class = "form-control", @type = "Number" } })
                            @Html.ValidationMessageFor(model => model.phone_number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group ">
                    @Html.LabelFor(model => model.role_id, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(M => M.role_id, (IEnumerable<SelectListItem>)TempData["Role_list"], new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-3 required" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                Male:   @Html.RadioButtonFor(model => model.gender, 1)
                                Female:    @Html.RadioButtonFor(model => model.gender, 0)
                                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>
}
