﻿@model IEnumerable<TKM_CENTRE_FOR_HIGHER_LEARNING.Models.Teachingmodel>

@{
    ViewBag.Title = "Staff List";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
    WebGrid objWG = new WebGrid(Model, rowsPerPage: 2);
}

<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquerydataTables")
@Scripts.Render("~/bundles/dataTablesbootstrap4")



<p class="HeaderActions">
    @*<img src="~/images/add_icon.png" style="padding-left:14px;"><br />*@
    <i class="fa fa-plus-circle fa-2x" style="margin-left:20px;"></i>
    @Html.ActionLink("Add Staff", "Create")
</p>

<script>

$(document).ready(function() {
    $('#dataTable').DataTable();
    // Remove the sort link from action header(edit/delete)
    $('#th_action').off('click');
    $("#th_action").removeClass("sorting");
        $(".sorting").click(function () {
            $("#th_action").removeClass("sorting");
        });
    });
    
  
</script>

<table id="dataTable" class="table table-striped table-bordered " style="width:100%">
    <thead>
        <tr class="grid-header">
            <th>
                @Html.DisplayNameFor(model => model.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.department_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email_id)
            </th>
            <th id="th_action"></th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
    <tr class="grid-header">
        <td class="grid-footer">
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td class="grid-footer">
            @Html.DisplayFor(modelItem => item.department_name)
        </td>
        <td class="grid-footer">
            @Html.DisplayFor(modelItem => item.role_name)
        </td>
        <td class="grid-footer">
            @Html.DisplayFor(modelItem => item.phone_number)
        </td>
        <td class="grid-footer">
            @Html.DisplayFor(modelItem => item.email_id)
        </td>
        @*<td class="grid-footer">
            @Html.DisplayFor(modelItem => item.gender)
        </td>*@
        <td>

            @if (item.role_name == "Principal")
            {
                <i  style="margin-left:65px;"></i>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.staff_id , disabled = "disabled" , @readonly = "readonly" })*@
            }
            else
            {
                <i class="fas fa-fw fa-edit" style="margin-left:20px;"></i>
                @Html.ActionLink("Edit", "Edit", new { id = item.staff_id })
            }


            <i class="fa fa-trash" style="margin-left:20px;"></i>
            @Html.ActionLink("Delete", "Delete", new { id = item.staff_id }, new { onclick = "return confirm('Are you sure you wants to delete?');" })
            <i class="fas fa-fw fa-rupee-sign" style="margin-left:20px;"></i>
            @Html.ActionLink("Salary Settings", "../Salary/Create", new { id = item.staff_id })
        </td>
    </tr>
        }

</table>

