﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.ReportExpenseModel

@{
    ViewBag.Title = "IncomeExpense";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="card-header">

    <i class="fas fa-table"></i>
    <b>Income Expense Report</b>
</div>
<br />
<div class="container body-content">
    @using (Html.BeginForm("IncomeExpenseSubmit", "Report", FormMethod.Post, new { target = "_blank" }))
    {
        @Html.AntiForgeryToken()
    <div class="form-horizontal">

      <br/>
        <div style="">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div style="">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.payment_category_id, htmlAttributes: new { @class = "control-label col-md-7" })
                        <div class="col-md-10">

                            @Html.DropDownListFor(M => M.payment_category_id, (IEnumerable<SelectListItem>)TempData["temp_payment_Category_list"], new { @class = "form-control" })


                            @*@Html.DropDownListFor(M => M.payment_category_id, (IEnumerable<SelectListItem>)TempData["temp_payment_Category_list"], new { @class = "form-control" })*@
                            @*@Html.ValidationMessageFor(model => model.payment_category_id, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group  col-md-6">
                        @Html.LabelFor(model => model.from_date, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.from_date, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.from_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group  col-md-6">
                        @Html.LabelFor(model => model.to_date, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.to_date, new { htmlAttributes = new { @Value = @DateTime.Now.ToShortDateString(), @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.to_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-primary" onclick="SelectedIndexChanged()" />
                </div>
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jqueryui")
            @Styles.Render("~/Content/cssjqryUi")
            <script type="text/javascript">

                $('#dateselector').datepicker("setDate", new Date(2008, 9, 03));

                $(document).ready(function () {
                    $('input[type=datetime]').datepicker({
                        dateFormat: "m/dd/yy",
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "00:+0"
                    });

                });
            </script>
        }
    </div>
    }

</div>
