﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.StudentModel

@{
    ViewBag.Title = "ReportStudentDetails";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="card-header">

    <i class="fas fa-table"></i>
    <b>Student Fee Report</b>
</div>
<br />

<div class="container body-content">
    @using (Html.BeginForm("StudentDetailsSubmit", "Report", FormMethod.Post, new { target = "_blank" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">


            <div style="">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div style="">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Course_Id, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">

                                @Html.DropDownListFor(M => M.Course_Id, (IEnumerable<SelectListItem>)TempData["course_list"], new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Course_Id, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.Semester, htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Semester, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Semester, "", new { @class = "text-danger" })
                            </div>

                        </div>

                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" onclick="SelectedIndexChanged()" />
                    </div>
                </div>
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jquery") 
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/bundles/jqueryui")
                @Styles.Render("~/Content/cssjqryUi")


            }
        </div>
    }

</div>
