﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.ReportSalaryModel

@{
    ViewBag.Title = "Salary Report";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<div class="card-header">
    <i class="fas fa-table"></i>
    <b>staff Salary Report</b>
</div>
<br />
<div class="container body-content">
    @using (Html.BeginForm("SalaryprocessingSubmit", "Report", FormMethod.Post, new { target = "_blank" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <br />
            <div style="">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div style="">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(model => model.staff_id, htmlAttributes: new { @class = "control-label col-md-7" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(M => M.staff_id, (IEnumerable<SelectListItem>)TempData["temp_staff_list"], new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group  col-md-6">
                            @Html.LabelFor(model => model.month, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.month, (IEnumerable<SelectListItem>
                    )ViewBag.Months, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.month, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            @Html.LabelFor(model => model.year, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.year, (IEnumerable<SelectListItem>
                   )ViewBag.Years, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" onclick="SelectedIndexChanged()" />
                    </div>
                </div>
            </div>
            @section Scripts {
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/bundles/jqueryui")
                @Styles.Render("~/Content/cssjqryUi")
           
            }
        </div>
    }
</div>

