﻿<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TKM center For Higher Learning</title>
    <!-- Custom fonts for this template-->

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->

    <link href="~/vendor/sb-admin.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    @*<script type="text/javascript">
            $(document).ready(function () {
                var url = $(location).attr("href");
                var res = url.split("/");
                var div = document.getElementById('li-breadcrumb');
                div.innerHTML += res[3] + ' / '+ res[4];
            });
        </script>*@
    <script src="~/Scripts/master_page.js"></script>
</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="index.html">TCHL </a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>


        @if (HttpContext.Current.Session["UserID"] != null && HttpContext.Current.Session["UserID"].ToString() != "")
        {
            <table align="right">
                <tr>
                    <td> Welcome : @Session["UserName"] !!</td>
                </tr>
            </table>
        }
        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            @*<div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" style="height: 31px;" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>*@
        </form>
        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">
            @*<li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <span class="badge badge-danger">9+</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>*@
            @*<li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <span class="badge badge-danger">7</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>*@
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    @*<a class="dropdown-item" href="#">Settings</a>*@
                    <a class="dropdown-item" href="~/Forgotpassword/gotoforgtpwdview">Password Reset</a>
                    @*<a class="dropdown-item" href="#">Activity Log</a>*@
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="~/Dashboard/index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span> Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Teachingstaff/Teachingview">
                    <i class="fas fa-fw fa-address-book"></i>
                    <span> Staff</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Student/List">
                    <i class="fas fa-fw fa-user"></i>
                    <span> Student</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/FeeSettings/List">
                    <i class="fas fa-fw fa-table"></i>
                    <span> Fee Settings</span>
                </a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" href="~/Fee/List">
                    <i class="fas fa-fw fa-table"></i>
                    <span> Fee Details</span>
                </a>
            </li>*@
            <li class="nav-item">
                <a class="nav-link" href="~/Payment/Create">
                    <i class="fas fa-fw fa-rupee-sign"></i>
                    <span> Misc.Payments</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/Salary/list">
                    <i class="fas fa-fw fa-rupee-sign"></i>
                    <span> Salary Processing</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/Entroll/Index">
                    <i class="fa fa-users"></i>
                    <span> Enroll</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Leave/Index">
                    <i class="fas fa-fw fa-rupee-sign"></i>
                    <span> Leave</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    @*href="https://c7.qbo.intuit.com/app/sales">*@
                    <i class="fas fa-fw fa-book"></i>
                    <span> Quick Books</span>
                </a>
            </li>

            @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <h6 class="dropdown-header">Login Screens:</h6>
                <a class="dropdown-item" href="login.html">Login</a>
                <a class="dropdown-item" href="register.html">Register</a>
                <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Other Pages:</h6>
                <a class="dropdown-item" href="404.html">404 Page</a>
                <a class="dropdown-item" href="blank.html">Blank Page</a>
            </div>
        </li>*@

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Reports</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="~/Report/List">Student Fee Details</a>
                    <a class="dropdown-item" href="~/Report/StudentDetails">Student Details</a>
                    <a class="dropdown-item" href="~/Report/IncomeExpense">Income Expense</a>
                    <a class="dropdown-item" href="~/Report/Salaryprocessing">Salary Details</a>
                </div>
            </li>
        </ul>
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->



                @{
                    if (TempData["message"] != null && TempData["messagetype"] != null)
                    {
                        <ol class="breadcrumb alert-danger">
                            <li class="breadcrumb-item active" id="li-breadcrumb">
                            </li>
                            <li style="margin:auto;font-weight:bolder;">
                                <b>   @TempData["message"]</b>
                            </li>
                        </ol>
                    }
                    else if (TempData["message"] != null )
                        {
                            <ol class="breadcrumb alert-success">
                                <li class="breadcrumb-item active" id="li-breadcrumb">
                                </li>
                                <li style="margin:auto;font-weight:bolder;">
                                    <b>   @TempData["message"]</b>
                                </li>
                            </ol>
                        }
                        else
                        {
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" id="li-breadcrumb">
                                </li>
                            </ol>
                        }
                }


                <!-- Icon Cards-->
                @*<div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-fw fa-comments"></i>
                        </div>
                        <div class="mr-5">26 New Messages!</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-warning o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">11 New Tasks!</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-success o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-fw fa-shopping-cart"></i>
                        </div>
                        <div class="mr-5">123 New Orders!</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-danger o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-fw fa-life-ring"></i>
                        </div>
                        <div class="mr-5">13 New Tickets!</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>*@

                <!-- DataTables Example -->
                <div class="card mb-3" style="background-color: #fff7fb;">

                    @RenderBody()


                </div>

            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © TKM Infotech 2019</span>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="../../">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->

    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/vendor/sb-admin.min.js"></script>

    @*@Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/datatableJs")*@
    @RenderSection("scripts", required: false)
</body>
</html>
