﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.ParentModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
@*<h2>Create</h2>*@


<div class="card-header">

    <i class="fas fa-table"></i>
    <b>Create Parent</b>
    <p style="width:50%;float:right;height:5px;padding-right:60px;" align="right">
        <img src="~/images/back.png" alt="Back" style="width:20px;height:20px;">
        @Html.ActionLink("Back to List", "Liststudent" , new { id = TempData["student_id"] })
    </p>

</div>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br/>
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.first_name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.last_name, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.id, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">

                @Html.DropDownListFor(M => M.id, (IEnumerable<SelectListItem>)TempData["relationship_list"], new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })

            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.mobile_number, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mobile_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mobile_number, "", new { @class = "text-danger" })
            </div>
        </div>
     
        @*<div class="form-group col-md-5">*@
        @*@Html.LabelFor(model => model.student_id, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-12">*@
        @*@Html.EditorFor(model => model.student_id, new { htmlAttributes = new { @class = "form-control" } })*@
        @*@Html.DropDownListFor(M => M.student_id, new SelectList(Model.StudentNameList, "Value", "Text",1), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.student_id, "", new { @class = "text-danger" })
        </div>*@
        @*</div>*@
    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.email_id, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                <div class="checkbox">
                    Male:   @Html.RadioButtonFor(model => model.gender, "Male")
                    Female:    @Html.RadioButtonFor(model => model.gender, "Female")
                    @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


    </div>
    @*<div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.user_name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@
    @*<div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.created_by, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.created_by, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.created_by, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@

    <div class="form-row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>

</div>
}
@*<div>
    @Html.ActionLink("Back to List", "List")
</div>*@


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")


}