﻿@model IEnumerable<TKM_CENTRE_FOR_HIGHER_LEARNING.Models.ParentModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/MasterLayout.cshtml";

}

@*<h2>List</h2>*@

<p class="HeaderActions">
    @*<img src="~/images/add_icon.png" style="padding-left:25px;"><br />*@
    <i class="fa fa-plus-circle fa-2x" style="margin-left:20px;"></i>
    @Html.ActionLink("Add Parent", "Create")
</p>

@*<div style="width:50%;float:right;height:5px;padding-right:60px;" align="right">
    @Html.ActionLink("Back to List", "../Student/List")
</div>*@
<p>

</p>

@*@Scripts.Render("~/bundles/bootstrapcss")*@
<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquerydataTables")
@Scripts.Render("~/bundles/dataTablesbootstrap4")

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
        // Remove the sort link from action header(edit/delete)
        $('#th_action').off('click');
        $("#th_action").removeClass("sorting");
        $(".sorting").click(function () {
            $("#th_action").removeClass("sorting");
        });
    });

</script>




<table id="dataTable" class="table table-striped table-bordered " style="width:100%">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.first_name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile_number)
            </th>

            <th id="th_action"></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile_number)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.student_id }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.parent_id }, new { onclick = "return confirm('Are you sure you wants to delete?');" })
            </td>
        </tr>
    }

</table>


