﻿
@{
    ViewBag.Title = "Staff";
}

<h2>Staff Details</h2>
<table>
    <tr><td>First Name</td><td></td>
        <td>Last Name</td><td></td></tr>
    <tr><td>DOB</td><td></td>
        <td>Gender</td><td></td></tr>
    <tr><td>Role</td><td></td>
        <td>Status</td><td></td></tr>
    <tr><td>User Name</td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td></td></tr>
    <tr><td></td><td></td><td></td><td></td></tr>
</table>

