﻿<title>WCF Client</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>



@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.Leave
@{


    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}



<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
<link href="~/css/feather.css" rel="stylesheet" />
<link href="~/css/style_dashboard.css" rel="stylesheet" />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row" style="background-color: #fff7fb;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-yellow update-card" style="height:70px">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">@ViewBag.balance</h4>
                            <h6 class="text-white m-b-0">Leave Balance</h6>
                        </div>
                        <div class="col-4 text-right">
                            <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                            <canvas id="update-chart-1" height="50" style="display: block; width: 45px; height: 50px;" width="45"></canvas>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-green update-card" style="height:70px">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">@ViewBag.Approved</h4>
                            <h6 class="text-white m-b-0">Approved Leaves</h6>
                        </div>
                        <div class="col-4 text-right">
                            <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                            <canvas id="update-chart-2" height="50" width="45" style="display: block; width: 45px; height: 50px;"></canvas>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-pink update-card" style="height:70px">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">@ViewBag.Rejected</h4>
                            <h6 class="text-white m-b-0">Rejected</h6>
                        </div>
                        <div class="col-4 text-right">
                            <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                            <canvas id="update-chart-3" height="50" width="45" style="display: block; width: 45px; height: 50px;"></canvas>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-lite-green update-card" style="height:70px">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">@ViewBag.Applied</h4>
                            <h6 class="text-white m-b-0">Applied</h6>
                        </div>
                        <div class="col-4 text-right">
                            <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                            <canvas id="update-chart-4" height="50" width="45" style="display: block; width: 45px; height: 50px;"></canvas>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        

        <div class="col-xl-7 col-md-12">
            <div class="card user-card-full">

                <div class="form-row" style="padding-left: 15px;">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.start_date, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div>
                            @Html.EditorFor(model => model.start_date, new { htmlAttributes = new { @class = "form-control ", @onchange = "TestOnTextChange()", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.start_date, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="" style="margin-top: 27px;">
                        <div class="">
                            <input type="checkbox" id="chk_1" checked data-toggle="toggle" data-onstyle="success" data-size="sm" data-on="AM" data-off="PM" onchange="TestOnTextChange()">
                        </div>
                    </div>
                    <div class="form-group col-md-4" style="padding-left:25px">
                        @Html.LabelFor(model => model.end_date, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div>
                            @Html.EditorFor(model => model.end_date, new { htmlAttributes = new { @class = "form-control", @onchange = "TestOnTextChange()", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.end_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="" style="margin-top: 27px;">
                        <div class="">
                            <input type="checkbox" id="chk_2" checked data-toggle="toggle" data-onstyle="success" data-size="sm" data-on="AM" data-off="PM" onchange="TestOnTextChange()">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.leave_type_id, htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(M => M.leave_type_id, (IEnumerable<SelectListItem>)TempData["leave_type"], new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.leave_type_id, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group  col-md-6">
                        @Html.LabelFor(model => model.number_of_leaves, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.number_of_leaves, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.number_of_leaves, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.reason, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.reason, new { htmlAttributes = new { @class = "form-control", @rows = "4" } })
                            @Html.ValidationMessageFor(model => model.reason, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.emergancy_contact_number, htmlAttributes: new { @class = "control-label col-md-10" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.emergancy_contact_number, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.emergancy_contact_number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group  col-md-4">
                        @Html.LabelFor(model => model.assigned_to, htmlAttributes: new { @class = "control-label col-md-7" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(M => M.assigned_to, (IEnumerable<SelectListItem>)TempData["staff"], new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.assigned_to, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group  col-md-2" style="margin-top: 15px;">
                        <button  value="Create" class="btn btn-outline btn-warning">Apply</button>
                    </div>
                </div>
                <div id="message" class="alert alert-danger alert-dismissable" style="background-color: #d9edf7;
                       border-color: #bce8f1;color: #31708f;">
                    <div id="message1" ></div>                   
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-md-12">
            <div class="card user-card-full">
                <div>Leave Status </div>
                <table id="dataTable" class="table table-striped table-bordered " style="width:100%">
                   
                </table>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            
            <div class="card user-card-full"><div>Leave History</div>
                <table id="dataTablehistory" class="table table-striped table-bordered " style="width:100%"></table>
            </div>
        </div>

    </div>
}

<div class="preloader3 loader-block">
    <div class="circ1 loader-success"></div>
    <div class="circ2 loader-success"></div>
    <div class="circ3 loader-success"></div>
    <div class="circ4 loader-success"></div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript">

                $(document).ready(function () {
                    $('input[type=datetime]').datepicker({
                        dateFormat: "dd/M/yy",
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "00:+0"
                    });

                });
    </script>
}
<script type="text/javascript">
    function TestOnTextChange() {
       
        const date1 = new Date($("#start_date").val());
        const date2 = new Date($("#end_date").val());
        
        if (date1 > date2) {            
            alert('To date must be greater than from date')
            $("#number_of_leaves").val(null);
            $("#start_date").val(null);
            $("#end_date").val(null);
            return;
        }
        
            const diffTime = Math.abs(date2 - date1);

            var diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

            if ($('#chk_1').is(":checked") && ($('#chk_2').is(":checked"))) {
                diffDays = diffDays + 0.5;
            }
            else {
                diffDays = diffDays + 1;
            }
            if ($('#chk_1').is(":unchecked") && ($('#chk_2').is(":unchecked"))) {
                diffDays = diffDays - 0.5;

            }
            //if ($('#chk_1').is(":checked")) {
            //    //diffDays = diffDays +0.5;
            //   // alert(diffDays + 0.5);
            //}
            //else {
            //    diffDays = diffDays - 0.5;

            //}
            //if ($('#chk_2').is(":checked")) {
            //    diffDays = diffDays - 0.5;

            //}
            //else {
            //    //diffDays = diffDays + 0.5;
            //    //alert(diffDays + 0.5);
            //}

            $("#number_of_leaves").val(diffDays);
        
    }



    $(function () {

        $('.btn-outline').on('click', function () {
            
         
            var type = 0;
            var a = $("#emergancy_contact_number").val();

            if (a != "") {
                var phoneno = /^([0-9]{10,14})$/;
                if (!a.match(phoneno)) {
                    alert('phone number should be numeric');
                    $('#emergancy_contact_number').focus();
                    return false;
                }
            }
            //if ($('#chk_1').is(":checked")) {

            //}
            //else {
            //    type = 1;
            //}
            //if ($('#chk_2').is(":checked")) {

            //}
            //else {
            //    type = type+2;
            //}
            if ($('#chk_1').is(":checked") && ($('#chk_2').is(":checked"))) {
                type = 2
            }
            else {
               // type = 1;
            }
            if ($('#chk_1').is(":unchecked") && ($('#chk_2').is(":unchecked"))) {
                type = 1;

            }
            var leave_type_id = $("#leave_type_id").val();
            var number_of_leaves = $("#number_of_leaves").val();
            var reason = $("#reason").val();
            var emergancy_contact_number = $("#emergancy_contact_number").val();
            var assigned_to = $("#assigned_to").val();
            var start_date = $("#start_date").val();
            var end_date = $("#end_date").val();

            if (number_of_leaves > .4) {
                $.ajax({
                    url: '/Leave/save/',

                    data: "{'leave_type_id':'" + leave_type_id + "','number_of_leaves':'" + number_of_leaves + "','emergancy_contact_number':'" + emergancy_contact_number + "','assigned_to':'" + assigned_to + "','start_date':'" + start_date + "','end_date':'" + end_date + "','reason':'" + reason + "','type':'" + type + "'}",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.success == true) {
                            $('#message').show();
                            $('#message1').html('Leave added successfuly.!');
                            load();

                        }
                        else {
                            $('#message').show();
                            $('#message1').html('Leave adding failed.!');
                        }

                    }
                });
            }
            else {
               // $('#message').show();
               // $('#message1').html('Leave adding failed.!  Enter proper leave number');
            }
               

        });
    })


</script>



<script>

    $(document).ready(function () {       
        
        load();
    });

    function load()
    {
        $('#message').hide();
        $.ajax(
        {
            type: "POST",
            url: '/Leave/Get_staff_leave/',
            data: "{}",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var quarter_data = [];
                
                var trHTML = '';
                var trHTMLhead = '<thead><tr><th>Leave Type</th><th>Leave Taken</th><th>Leave Balance</th></tr></thead>';

                quarter_data = JSON.parse(data);
                var count = 1;
                var lenght = 0;
                $.each(
               quarter_data, function (i, item) {
                  
                   trHTML += '<tr><td>' + quarter_data[i].leave_type + '</td><td>' + quarter_data[i].leave_taken + '</td><td>' + quarter_data[i].Column1 + '</td></tr>';

               });
                $('#dataTable').html('');
                $('#dataTable').append(trHTMLhead);
                $('#dataTable').append(trHTML);
            },
            error: function (msg) {

                $('#dataTable').append('<tr><td>No data</td></tr>');
            }
        });

        $.ajax(
       {
           type: "POST",
           url: '/Leave/Get_staff_leave_history/',
           data: "{}",
           contentType: "application/json; charset=utf-8",
           success: function (data) {
               var quarter_data = [];
               
               var trHTML = '';
               var trHTMLhead = '<thead><tr><th>Sl No</th><th>Leave Type</th><th>From Date</th><th>End Date</th><th>Reason</th><th>Status</th><th>Number of Leave</th><th>Created On</th><th>Assign To</th></tr></thead>';

               quarter_data = JSON.parse(data);
               var count = 1;
               var lenght = 0;
               $.each(
              quarter_data, function (i, item) {

                  trHTML += '<tr><td>' + quarter_data[i].Slno + '</td><td>' + quarter_data[i].leave_type + '</td><td>' + quarter_data[i].start_date + '</td><td>' + quarter_data[i].end_date + '</td><td><div style=width:200px;overflow:auto;>' + quarter_data[i].reason + '</div></td><td>' + quarter_data[i].leave_status + '</td><td>' + quarter_data[i].number_of_leaves + '</td><td>' + quarter_data[i].created_on + '</td><td>' + quarter_data[i].assigned_to + '</td></tr>';

              });
               $('#dataTablehistory').html('');
               $('#dataTablehistory').append(trHTMLhead);
               $('#dataTablehistory').append(trHTML);
           },
           error: function (msg) {

               $('#dataTablehistory').append('<tr><td>No data</td></tr>');
           }
       });
    }

</script>
