﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.ViewModel.FeeViewModel

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.feeSettingsModel.fee_settings_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feeSettingsModel.course_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feeSettingsModel.semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feeSettingsModel.fee)
        </th>
       
        <th></th>
    </tr>
    
@foreach (var item in Model._feeSettingsModel)
{
    <tr class="tr">
        <td class="fee_settings_id">
            @Html.DisplayFor(modelItem => item.fee_settings_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.course_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semester)
        </td>
        <td >
            @Html.DisplayFor(modelItem => item.fee)
        </td>
        <td class="Text1">
            @Html.EditorFor(modelItem => item.fee)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.fee_settings_id })
            
            <button id="edit-user" class="save-user">Save</button>
           
        </td>
    </tr>
}
    

</table>*@
@{
        var grid = new WebGrid(Model._feeSettingsModel);
    }

<div id="gridContent" style=" padding:20px; ">
        @grid.GetHtml(
            tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",
            mode: WebGridPagerModes.All,
            columns:
                grid.Columns(
                 grid.Column("ID", format: @<text>  <span class="display-mode">@item.fee_settings_id </span> <label id="UserID" class="edit-mode">@item.fee_settings_id</label> </text>, style: "col1Width"),
                 grid.Column("FirstName", "First Name", format: @<text>  <span class="display-mode"> <label id="lblFirstName">@item.semester</label> </span> <input type="text" id="FirstName" value="@item.semester" class="edit-mode" /></text>, style: "col2Width"),
                 grid.Column("LastName", "Last Name", format: @<text> <span class="display-mode"> <label id="lblLastName">@item.fee</label> </span>  <input type="text" id="LastName" value="@item.fee" class="edit-mode" /> </text>, style: "col2Width"),
                 grid.Column("Action", format: @<text>
                        <button class="edit-user display-mode">Edit</button>
                        <button class="save-user edit-mode">Save</button>
                        <button class="cancel-user edit-mode">Cancel</button>
                </text>, style: "col3Width", canSort: false)
               ))

    </div>


