﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.ViewModel.FeeViewModel


@{
    ViewBag.Title = "Create New Staff";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<div class="card-header">

    <i class="fas fa-table"></i>
    <b>Payment Details</b>
    <p style="width:50%;float:right;height:5px;padding-right:60px;" align="right">
        @Html.ActionLink("Payment Details", "List")
        <img src="~/images/front.png" alt="Back" style="width:20px;height:20px;">
    </p>

</div>
@using (Html.BeginForm("GetData", "Fee", FormMethod.Post, new { id = "demoForm", name = "demoForm" }))
{
    @Html.AntiForgeryToken()

<div class="form-content">
    @*<hr />*@
    <br />
    <br />
    <div class="row">

        <div class="col-md-6">
            <div class="form-group ">
                @Html.LabelFor(model => model.first_name, "Student Name", htmlAttributes: new { @class = "control-label col-md-4 " })
                <div class="col-md-10">
                    @Html.DropDownListFor(M => M.ID, (IEnumerable<SelectListItem>)TempData["student_list"], "Please select", new { @class = "form-control", onchange = "SelectedIndexChanged()" })

                </div>
            </div>
        </div>
    </div>
</div>


}
<br />
<br />

<script type="text/javascript">

    function SelectedIndexChanged() {
        //Form post
        document.demoForm.submit();
    }

    function getUrlVars() {

        var hashes = location.pathname.substring(location.pathname.lastIndexOf("/") + 1)

        if (hashes.length > 10) {
            $('.form-content').hide();
        }
        return 1;
    }

    function closediv() {
        $('#message').hide();
    }
</script>
@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquerydataTables")
@Scripts.Render("~/bundles/dataTablesbootstrap4")
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();

        getUrlVars();

        $('#th_action').off('click');
        $("#th_action").removeClass("sorting");
        $(".sorting").click(function () {
            $("#th_action").removeClass("sorting");
        });
    });

</script>



<div id="message" class="alert alert-danger alert-dismissable">
    <div id="message1"></div>
</div>
<table id="dataTable" class="table table-striped table-bordered " style="width:100%">
    <thead>
        <tr>
            <th>
                SN
            </th>
            <th>
                Fee Type
            </th>
            <th>
                Due Date
            </th>
            <th>
                Fee Amount
            </th>

            <th>
                Due Amount
            </th>
            <th>
                Fine Amount
            </th>
            <th id="th_action">

            </th>
        </tr>
    </thead>
    @foreach (var item in Model._feeSettingsList)
    {
        <tr class="tr">
            <td class="fee_settings_id">
                @Html.DisplayFor(modelItem => item.fee_settings_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feetype.fee_type)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.due_date.Date)*@
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.due_date))
            </td>
            <td class="Feeamount">
                @Html.DisplayFor(modelItem => item.fee)
            </td>
            <td class="balance" style="font-size: .1px;">
                @if (item.is_due == 0)
                {
                    @Html.DisplayFor(modelItem => item.balance)
                    @Html.EditorFor(modelItem => item.balance, new { htmlAttributes = new { @class = "form-control", @type = "Number", @id = "amount_paying" } })
                    @Html.ValidationMessageFor(modelItem => item.balance, "", new { @class = "text-danger" })
                }

                else
                {

                    @Html.DisplayFor(modelItem => item.balance)
                    @Html.EditorFor(modelItem => item.balance, new { htmlAttributes = new { @class = "form-control", @type = "Number", @id = "amount_paying", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(modelItem => item.balance, "", new { @class = "text-danger" })

                }
            </td>
            <td class="fine_amount">
                @if (item.is_due == 0)
                {
                    @Html.EditorFor(modelItem => item.fine_amount, new { htmlAttributes = new { @class = "form-control", @type = "Number", @id = "fine_amount" } })
                    @Html.ValidationMessageFor(modelItem => item.fine_amount, "", new { @class = "text-danger" })
                }
                else
                {
                    @Html.EditorFor(modelItem => item.fine_amount, new { htmlAttributes = new { @class = "form-control", @type = "Number", @id = "fine_amount", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(modelItem => item.fine_amount, "", new { @class = "text-danger" })
                }

            </td>

            <td class="is_due" style="font-size: .1px;">
                @Html.DisplayFor(modelItem => item.is_due)
                <button id="edit-user" class="btn btn-success save-user" style="font-size: .6rem;">Pay</button>

            </td>
        </tr>
    }


</table>

<script type="text/javascript">

    $('#message').hide();
    $(function () {

        $('.save-user').on('click', function () {

            var fee_settings_id = ($(this).closest('tr').children('td.fee_settings_id').text());
            var Feeamount = ($(this).closest('tr').children('td.Feeamount').text());
            var balance = ($(this).closest('tr').children('td.balance').text());
            var is_due = ($(this).closest('tr').children('td.is_due').text());
            // alert(is_due);
            var amount_paying = 0;
            // alert(balance);
            var fine_amount = 0;
            is_due = is_due.replace('Pay', '')
            var a = 0;
            $(this).closest('tr').find('input').each(function () {
                if (a == 0) {
                    amount_paying = $(this).val();
                    a = 1;
                }
                else {

                    fine_amount = $(this).val();
                }

            });


            //$(this).closest('tr').find('input').each(function () {

            //    fee1 = $(this).val();

            //});
            //debugger;
            //if (+fee1 <= 0 || +Feeamount <= +fee1) {
            //    $('#message').show();
            //    $('#message1').html('Please enter a valid Balance Amount to pay.!');

            //}

            if (+balance < +amount_paying) {
                $('#message').show();
                $('#message1').html('Please enter a valid Balance Amount to pay.!');

            }
            else if (+amount_paying == 0) {
                $('#message').show();
                $('#message1').html('Please enter a valid Balance Amount to pay.!');

            }
            else {
                $('#message').hide();

                var a = $("#ID option:selected").val();
                $.ajax({
                    url: '/Fee/SaveFee/',

                    data: "{'Fee':'" + amount_paying + "','fee_settings_id':'" + fee_settings_id + "','student_id':'" + a + "','fineamount':'" + fine_amount + "','is_due':'" + is_due + "'}",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        document.demoForm.submit();

                    }
                });
            }

        });
    })


</script>
<div class="row">
    <div class="container" style="width:60%">
        <h2>Alerts</h2>
        <div id="success_div" class="alert alert-success">
            <strong>Last payment done on  </strong>
        </div>
        <div id="total_fee_div" class="alert alert-info">
            <strong></strong> Total fee amount is
        </div>
        <div id="amount_paid_div" class="alert alert-warning">
            <strong></strong>Paid amount is
        </div>
        <div id="balance_fee_div" class="alert alert-danger">
            <strong></strong> Amount need to pay is
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-pie"></i>
                Fee Status
            </div>
            <div class="card-body">
                <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div id="last_update" class="card-footer small text-muted">Updated at @ViewBag.Last_date</div>
        </div>
    </div>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script type="text/javascript">

    </script>

    <script src="~/vendor/chart-pie-demo.js"></script>
</div>

