﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.ViewModel.FeeViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}



<p class="HeaderActions">
    @*<img src="~/images/add_icon.png" style="padding-left:50px;"><br />*@
    <i class="fa fa-plus-circle fa-2x" style="margin-left:20px;"></i>
    @Html.ActionLink("Add Payment Details", "Index")
</p>

<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquerydataTables")
@Scripts.Render("~/bundles/dataTablesbootstrap4")
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
      
    });

</script>
<table id="dataTable" class="table table-striped table-bordered " style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Fee Type
            </th>
            <th>
                Course
            </th>
            <th>
                Semester
            </th>
            <th>
                Payment date
            </th>
            <th>
                Amount
            </th>

        </tr>
        </thead>
        @foreach (var item in Model._feeList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentModel.strFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.feeType.fee_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.course.course_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentModel.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_on)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>

            </tr>
        }

</table>
