﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.ViewModel.PaymentViewModel

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}




<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquerydataTables")
@Scripts.Render("~/bundles/dataTablesbootstrap4")
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();

    });

</script>  

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<table>
    <tr>
        <td style="width:600px; height:203px"><div  id="chart_div"></div></td>
        <td>
            <div class="container" style="">
                <h2>Alerts</h2>
                <div id="success_div" class="alert alert-success">
                    <strong>Last Payment!</strong>  
                </div>
                <div class="alert alert-info">
                    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
                </div>
                <div class="alert alert-warning">
                    <strong>Warning!</strong>Lab fee due need to pay.
                </div>
                <div class="alert alert-danger">
                    <strong>Note!</strong> Exam fee end date is next Friday .
                </div>
            </div>


        </td>
    </tr>
</table>
        
      
   
<script src="~/vendor/google_barchart.js"></script>
<p class="HeaderActions">
    @*<img src="~/images/add_icon.png" style="padding-left:50px;"><br />*@
    <i class="fa fa-plus-circle fa-2x" style="margin-left:20px;"></i>
    @Html.ActionLink("Add Payment", "Create")
</p>
        <table id="dataTable" class="table table-striped table-bordered " style="width:100%">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Payer</th>
                    <th>Pay Amount</th>
                    <th>Date</th>
                    <th>Description</th>

                </tr>
            </thead>
            @foreach (var item in Model._payment_list)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.payment_Category.category_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.payer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pay_amount)

                        @if (item.type == true)
                        {
                            <h8 style="color:green; font-style:italic;">Cr.</h8> ;
                        }
                        else
                        {
                            <h8 style="color:orangered; font-style:italic;">Dr.</h8> ;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                </tr>
            }

        </table>
        @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
<body>
    <div id="piechart" style="width: 950px; height: 550px;"></div>
</body>
<script src="~/vendor/google_pie-chart.js"></script>


