﻿@model TKM_CENTRE_FOR_HIGHER_LEARNING.Models.FeeSettings

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="card-header">

    <i class="fas fa-table"></i>
    <b>Edit Fee Settings</b>
    <p style="width:50%;float:right;height:5px;padding-right:60px;" align="right">
        <img src="~/images/back.png" alt="Back" style="width:20px;height:20px;">
        @Html.ActionLink("Back to List", "List")
    </p>

</div>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.fee_settings_id)
        <div class="form-row">
            <div class="form-group col-md-5">
                @Html.LabelFor(model => model.course.course_name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">

                    @Html.DropDownListFor(M => M.course_id, (IEnumerable<SelectListItem>)TempData["course_list"], new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.course.course_id, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.semester, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.semester, new { htmlAttributes = new { @class = "form-control", @maxlength = "1", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.semester, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.studentCategory.category_name, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.DropDownListFor(M => M.category_id, (IEnumerable<SelectListItem>)TempData["category_list"], new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.studentCategory.category_id, "", new { @class = "text-danger" })
                </div>
            </div>



        </div>

        <div class="form-row">

            <div class="form-group col-md-5">
                @Html.LabelFor(model => model.feetype.fee_type, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.DropDownListFor(M => M.fee_type_id, (IEnumerable<SelectListItem>)TempData["FeeType_list"], new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.feetype.fee_type_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.fee, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fee, new { htmlAttributes = new { @class = "form-control", @type = "Number", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.fee, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group  col-md-4">
                @Html.LabelFor(model => model.due_date, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.due_date, new { htmlAttributes = new { @class = "form-control", Value = Model.due_date.ToString("dd/MM/yyyy") } })
                    @Html.ValidationMessageFor(model => model.due_date, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jqueryui")
            @Styles.Render("~/Content/cssjqryUi")

            <script type="text/javascript">

                $(document).ready(function () {
                    $('input[type=datetime]').datepicker({
                        dateFormat: "dd/M/yy",
                        changeMonth: true,
                        changeYear: true,
                        yearRange: "00:+0"
                    });

                });
            </script>
        }

    </div>
}

<div>
   
</div>

