﻿@model IEnumerable<TKM_CENTRE_FOR_HIGHER_LEARNING.Models.FeeSettings>


@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<p class="HeaderActions">
    @*<img src="~/images/add_icon.png" style="padding-left:45px;"><br />*@
    <i class="fa fa-plus-circle fa-2x" style="margin-left:20px;"></i>
    @Html.ActionLink("Create Fee Settings", "Create")
</p>


<link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquerydataTables")
@Scripts.Render("~/bundles/dataTablesbootstrap4")
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();

        // Remove the sort link from action header(edit/delete)
        $('#th_action').off('click');
        $("#th_action").removeClass("sorting");
        $(".sorting").click(function () {
            $("#th_action").removeClass("sorting");
        });
    });

</script>




<table id="dataTable" class="table table-striped table-bordered " style="width:100%">
    <thead>
        <tr>
            <th>Course</th>
            <th>Semester</th>
            <th>Fee Type</th>
            <th>Category</th>
            <th>Fee</th>
            <th>Due Date</th>
            <td id="th_action"></td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.course.course_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feetype.fee_type)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentCategory.category_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.due_date)
            </td>
            <td>
                <i class="fas fa-fw fa-edit" style="padding-left:8px;"></i>
                <span style="padding-left: 8px;"></span>
                @Html.ActionLink("Edit", "Edit", new { id = item.fee_settings_id }) |

                @Html.ActionLink("De-activate", "Delete", new { id = item.fee_settings_id }, new { onclick = "return confirm('Are you sure you wants to de-activate?');" })
            </td>
    </tr>
}

</table>




